<div class="navbar-container">

  <div class="navbar-logo">
    <%= link_to "Mos Eisley", root_path %>
  </div>



  <div class="navbar-right">
    <div class="navbar-register">
      <%= link_to "S'inscrire", root_path %>
    </div>
    <div class="navbar-connect">
      <%= link_to "Se connecter", root_path %>
    </div>
    <div class="navbar-new-spaceship">
      <%= link_to "Ajouter un vaisseau", new_spaceship_path %>
    </div>
    <div class="navbar-faq">
      <%= link_to "FAQ", root_path %>
    </div>
  </div>



</div>
