<div class="container-hangar">


  <div class="tabs">
    <%= link_to "Vos vaisseaux", user_path(@user), class: "tab" %>
    <%= link_to "Vaisseaux réservés", resas_user_path(@user), class: "tab active" %>
  </div>
  <div class="content-banner-cards">
    <div class="cards">
      <div class="row">
      <% if @user.reservations != []  %>
        <% @reservations.each_with_index do |reservation, index| %>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="
          card
          <% if index == 0 %>
            first
          <% end %>
          " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path reservation.spaceship.photo,  height: 300, width: 400, crop: :fill %>);">

            <div class="card-reservation">
              <h2><%= reservation.spaceship.name %></h2>
              <% if reservation.spaceship.available == "available" %>
                  <div class="delete-icon">
                    <%= link_to reservation_path(reservation), method: :delete, data: { confirm: "Delete this booking? Are you sure stupid sith?" } do %>
                    <%= image_tag 'delete.png', width: 30 %>
                    <% end %>
                  </div>
                <div class="cancelled">
                  CANCELLED
                </div>
              <% elsif reservation.spaceship.available == "en attente" %>
                <div class="delete-icon">
                  <%= link_to reservation_path(reservation), method: :delete, data: { confirm: "Delete this booking? Are you sure stupid sith?" } do %>
                  <%= image_tag 'delete.png', width: 30 %>
                  <% end %>
                </div>
                <div class="pending">
                  <%= reservation.spaceship.available %>
                </div>
              <% else %>
                <div class="reserved">
                  accepté
                </div>
            <% end %>

              <p>Début le :<%= reservation.start_date %></p>
              <p>Fin le :<%= reservation.end_date %></p>

            </div>

          </div>


        </div>
        <% end %>
      <% else  %>
          <p style="color: ghostwhite; font-weight: lighter"> Vous n'avez aucune réservation </p>
      <% end %>

      </div>
    </div>
  </div>
</div>
