<div class="container-hangar">
<!--   <h1 class="id-hangar">Vos véhicules</h1> -->

<div class="tabs">
  <%= link_to "Vos vaisseaux", user_path(@user), class: "tab active" %>
  <%= link_to "Vaisseaux réservés", resas_user_path(@user), class: "tab" %>
</div>


  <div class="content-banner-cards">
    <div class="cards">
      <div class="row">
      <% @user.spaceships.each do |spaceship| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path spaceship.photo,  height: 300, width: 400, crop: :fill %>);">
          <div class="edit-icon">
            <%= link_to edit_spaceship_path(spaceship) do  %>
              <%= image_tag 'edit.png', width: 30 %>
            <% end %>
          </div>
          <div class="delete-icon">

            <%= link_to spaceship_path(spaceship), method: :delete, remote: true, data: { confirm: "Delete this wonderful spaceship? Are you sure?" } do %>
            <%= image_tag 'delete.png', width: 30 %>
            <% end %>
          </div>

          <div class="card-description">
            <%= link_to spaceship.name, spaceship_path(spaceship) %>
            <% if spaceship.available == "available" %>
                <div class="available">
                  <%= spaceship.available %>
                </div>
              <% elsif spaceship.available == "en attente" %>
                  <div>
                    <%= link_to status_path(user_id: current_user, spaceship_id: spaceship.id, new_availability: "réservé"), method: :post do %>
                    <p>Accepter</p>
                    <% end %>
                    <%= link_to status_path(user_id: current_user, spaceship_id: spaceship.id, new_availability: "available"), method: :post do %>
                    <p>Refuser</p>
                    <% end %>
                  </div>
                  <div class="pending">
                    <%= spaceship.available %>
                  </div>
              <% else %>
                <div class="reserved">
                  <%= spaceship.available %>
                </div>
            <% end %>
          </div>

        </div>


      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
