<div class="container-hangar">
<!--   <h1 class="id-hangar">Vos véhicules</h1> -->

<div class="tabs">
  <%= link_to "Vos vaisseaux", user_path(@user), class: "tab active" %>
  <%= link_to "Vaisseaux réservés", resas_user_path(@user), class: "tab" %>
</div>


  <div class="content-banner-cards">
    <div class="cards">
      <div class="row">
      <% @user.spaceships.each do |spaceship| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path spaceship.photo,  height: 300, width: 400, crop: :fill %>);">
          <div class="edit-icon">
            <%= link_to edit_spaceship_path(spaceship) do  %>
              <%= image_tag 'edit.png', width: 30 %>
            <% end %>
          </div>
          <div class="delete-icon">
            <%= link_to root_path do  %>
              <%= image_tag 'delete.png', width: 30 %>
            <% end %>
          </div>

          <div class="card-description">
            <%= link_to spaceship.name, spaceship_path(spaceship) %>
          </div>

        </div>


      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
