<div class="container header" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path('cantina.jpg') %>) ;">
  <div class="row content-header">
    <div class="title-header">
      <%= image_tag "mos-eisley-test.png", alt: "Mos Eisley picture" %>
    </div>
    <div class="search-header">
      <%= form_tag spaceships_path, class: "form-home", method: :get do %>
        <%= select_tag :planet, options_for_select(["Planète ?", "Alderaan", "Caamas", "Corellia", "Coruscant", "Dagobah", "Elom", "Hoth", "Mustafar", "Kamino", "Ryloth", "Tatooine", "Zonama", "Sekot" ]), class: "item-form-header" %>

        <%= date_field_tag :start_date, nil, class: "item-form-header" %>
        <%= date_field_tag :end_date, nil, class: "item-form-header" %>
        <%= submit_tag 'Rechercher', class: "item-form-header btn btn-primary", id: "hover-sound", data: { sound_url: asset_path('laser-saber.mp3')} %>
      <% end %>
    </div>
  </div>
</div>


  <div class="content-banner-cards">
    <div class="title-cards text-center">
      <span id="banner-typed-text"></span>
    </div>
  </div>

    <div class="cards">
      <div class="row">
      <% @spaceships.last(4).reverse.each do |spaceship| %>
      <div class="col-xs-12 col-md-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path spaceship.photo,  height: 300, width: 400, crop: :fill %>);">
<!--           <div class="card-category"><%= spaceship.category %></div> -->
          <div class="card-description">
            <h2><%= spaceship.name %></h2>
            <p>Propriétaire : <%= spaceship.user.email[/(.*@)/].chomp("@") %></p>
          </div>
           <%= link_to "", spaceship_path(spaceship), class: 'card-link' %>
        </div>
      </div>
      <% end %>
      </div>
    </div>
  </div>


<div class="homepage_layer">
  <h2 class="homepage_layer_title">
    Explorez la galaxie
  </h2>
  <p>
    Voyagez sans contrainte, choisissez le vaisseaux de vos rêves.
  </p>
  <div class="layer_images">
    <%= image_tag "x-wing.png", style:'height: 120px'; %>
    <%= image_tag "starspace-2.png", style:'height: 120px'; %>
    <%= image_tag "ansel_hsiao_04.png", style:'height: 120px'; %>
    <%= image_tag "Star-Wars-Imperial-Assault-Carrier-Vehicle.png", style:'height: 120px'; %>
  </div>
</div>
