<div class="container" id="container-create-spaceship">
  <div class="row">
    <h1>Ajouter un nouveau vaisseau</h1>
    <div class="col-md-4 col-md-offset-4">
      <%= simple_form_for(@spaceship) do |f| %>
        <%= f.input :name, label: 'Nom de votre vaisseau' %>
        <%= f.input :category, label: 'Categorie', :collection => %w[Espace Air Aquatique Terrestre] %>
        <%= f.input :planet, label: 'Planète', :collection => %w[Alderaan Caamas Corellia Coruscant Dagobah Elom Hoth Mustafar Kamino Ryloth Tatooine Zonama Sekot] %>
        <%= f.input :prize, label: 'Prix de location /jours' %>
        <%= f.input :seats, label: 'Sièges' %>
        <%= f.input :constructor, label: 'Marque' %>
        <%= f.input :weapons, label: 'Armement' %>
        <%= f.input :maxspeed, label: 'Vitesse max' %>
        <%= f.input :photo, label: 'Photo de votre vaisseau' %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
