<div class="container" id="container-spaceship">
  <div class="header-spaceship" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.5) 50%), url(<%= image_path @spaceship.photo %>); background-position: center;">
    <h1><%= @spaceship.name %></h1>
  </div>

  <div class="middle-block">
    <div class="row">
      <div class="col-sm-7">
        <div class="item" id="description-spaceship">
            <h3>Caractéristiques</h3>
            <div class="specs-spaceship-box">
              <div class="row">
                <div class="col-sm-6">
                  <div class="sub-col-left">
                    Catégorie :
                  </div>
                  <div class="sub-col-right">
                    <% if @spaceship.category? %>
                      <%= @spaceship.category.capitalize %>
                      <%= "" %>
                    <% end %>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="sub-col-left">
                    Planète :
                  </div>
                  <div class="sub-col-right">
                    <% if @spaceship.planet? %>
                      <%= @spaceship.planet.capitalize %>
                      <%= "" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="row" id="middle-row">
                <div class="col-sm-6">
                  <div class="sub-col-left">
                    Fabricant :
                  </div>
                  <div class="sub-col-right">
                    <% if @spaceship.constructor? %>
                      <%= @spaceship.constructor.capitalize %>
                      <%= "" %>
                    <% end %>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="sub-col-left">
                    Armes :
                  </div>
                  <div class="sub-col-right">
                    <% if @spaceship.weapons? %>
                      <%= @spaceship.weapons.capitalize %>
                      <%= "" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="sub-col-left">
                    Vitesse max :
                  </div>
                  <div class="sub-col-right">
                    <% if @spaceship.maxspeed? %>
                      <%= @spaceship.maxspeed.capitalize %>
                      <%= "" %>
                    <% end %>
                  </div>
                </div>
                     <div class="col-sm-6">
                  <div class="sub-col-left">
                    Prix jour :
                  </div>
                  <div class="sub-col-right", id="prix_jour">
                    <% if @spaceship.price? %>
                      <%= @spaceship.price %> crédits
                      <%= "" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
        <div class="reviews">
          <h2>
            <%= pluralize @spaceship.reviews.size, "review" %>
          </h2>

          <div id="reviews">
            <% if @spaceship.reviews.blank? %>
              Be the first to leave a review for <%= @spaceship.name %>
            <% else %>
              <% @spaceship.reviews.each do |review| %>
                <%= render 'reviews/show', review: review %>
              <% end %>
            <% end %>
          </div>

        </div>
      </div>


        <%= render 'reviews/form', spaceship: @spaceship, review: @review %>
      </div>

      <div class="col-sm-5">
        <div class="rent-spaceship">
          <h3>Louer ce vaisseau</h3>
          <div class="row">


            <%= simple_form_for [@spaceship, @reservation] do |f| %>
              <%= f.input :start_date, label: "Date de début", as: :string, input_html: {class: "datepicker", id: 'start_date'}  %>
              <%= f.input :end_date, label: "Date de fin", as: :string, input_html: {class: "datepicker", id: 'end_date' }  %>
              <%= f.button :submit, class: 'btn btn-primary' %>
            <% end %>

            <div id="total_price" class="text-center">

            </div>

          </div>
        </div>
      </div>
    </div>

  </div>


</div>



