<div class="container">
  <div class="header" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
    <h1><%= @spaceship.name %></h1>
  </div>

  <div class="middle-block">
    <div class="row">
      <div class="col-sm-7">
        <div class="item" id="description-spaceship">
            <h3>Caractéristiques</h3>
            <div class="specs-spaceship-box">
              <div class="row">
                <div class="col-sm-6">
                  <div class="sub-col-left">
                    Catégorie :
                  </div>
                  <div class="sub-col-right">
                    <%= @spaceship.category.capitalize %>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="sub-col-left">
                    Puissance :
                  </div>
                  <div class="sub-col-right">
                    <%= @spaceship.power.capitalize %>
                  </div>
                </div>
              </div>
              <div class="row" id="middle-row">
                <div class="col-sm-6">
                  <div class="sub-col-left">
                    Fabricant :
                  </div>
                  <div class="sub-col-right">
                   <%= @spaceship.constructor.capitalize %>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="sub-col-left">
                    Armes :
                  </div>
                  <div class="sub-col-right">
                    <%= @spaceship.weapons.capitalize %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="sub-col-left">
                    Vitesse max :
                  </div>
                  <div class="sub-col-right">
                    <%= @spaceship.maxspeed.capitalize %>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="sub-col-left">
                    Taille :
                  </div>
                  <div class="sub-col-right">
                    <%= @spaceship.size.capitalize %>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
      <div class="col-sm-5">
        <div class="rent-spaceship">
          <h3>Louer ce vaisseau</h3>
          <div class="row">

<!--             <form class="form">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-calendar-check-o">
                  </i>
                </div>
                <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
              </div>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-calendar-times-o">
                  </i>
                </div>
                <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
              </div>
              <button type="submit" class="btn btn-primary">Réserver</button>
            </form> -->

            <%= simple_form_for [@spaceship, @reservation] do |f| %>
              <%= f.input :start_date %>
              <%= f.input :end_date %>
              <%= f.button :submit, class: 'btn btn-primary' %>
            <% end %>



          </div>
        </div>
      </div>
    </div>

  </div>


</div>



